#include <physical_layouts.dtsi>

/ {
    dyad_physical_layout: dyad_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Dyad";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   62       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100  600   25       0     0     0>
            , <&key_physical_attrs 100 100 1114   25       0     0     0>
            , <&key_physical_attrs 100 100 1214   25       0     0     0>
            , <&key_physical_attrs 100 100 1314   12       0     0     0>
            , <&key_physical_attrs 100 100 1414    0       0     0     0>
            , <&key_physical_attrs 100 100 1514   12       0     0     0>
            , <&key_physical_attrs 100 100 1613   50       0     0     0>
            , <&key_physical_attrs 100 100 1713   62       0     0     0>
            , <&key_physical_attrs 100 100    0  162       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100  600  125       0     0     0>
            , <&key_physical_attrs 100 100 1114  125       0     0     0>
            , <&key_physical_attrs 100 100 1214  125       0     0     0>
            , <&key_physical_attrs 100 100 1314  112       0     0     0>
            , <&key_physical_attrs 100 100 1414  100       0     0     0>
            , <&key_physical_attrs 100 100 1514  112       0     0     0>
            , <&key_physical_attrs 100 100 1613  150       0     0     0>
            , <&key_physical_attrs 100 100 1713  162       0     0     0>
            , <&key_physical_attrs 100 100    0  262       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100  600  225       0     0     0>
            , <&key_physical_attrs 100 100 1114  225       0     0     0>
            , <&key_physical_attrs 100 100 1214  225       0     0     0>
            , <&key_physical_attrs 100 100 1314  212       0     0     0>
            , <&key_physical_attrs 100 100 1414  200       0     0     0>
            , <&key_physical_attrs 100 100 1514  212       0     0     0>
            , <&key_physical_attrs 100 100 1613  250       0     0     0>
            , <&key_physical_attrs 100 100 1713  262       0     0     0>
            , <&key_physical_attrs 100 100    0  362       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100  635  344    1500   685   394>
            , <&key_physical_attrs 100 100 1078  344 (-1500)  1128   394>
            , <&key_physical_attrs 100 100 1214  325       0     0     0>
            , <&key_physical_attrs 100 100 1314  312       0     0     0>
            , <&key_physical_attrs 100 100 1414  300       0     0     0>
            , <&key_physical_attrs 100 100 1514  312       0     0     0>
            , <&key_physical_attrs 100 100 1613  350       0     0     0>
            , <&key_physical_attrs 100 100 1713  362       0     0     0>
            , <&key_physical_attrs 100 100    0  462       0     0     0>
            , <&key_physical_attrs 100 100  100  450       0     0     0>
            , <&key_physical_attrs 100 100  200  412       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  400  412       0     0     0>
            , <&key_physical_attrs 100 100  500  425       0     0     0>
            , <&key_physical_attrs 100 100  714  486    3000   764   536>
            , <&key_physical_attrs 100 100  610  440    1500   660   490>
            , <&key_physical_attrs 100 100 1103  440 (-1500)  1153   490>
            , <&key_physical_attrs 100 100 1000  486 (-3000)  1050   536>
            , <&key_physical_attrs 100 100 1214  425       0     0     0>
            , <&key_physical_attrs 100 100 1314  412       0     0     0>
            , <&key_physical_attrs 100 100 1414  400       0     0     0>
            , <&key_physical_attrs 100 100 1514  412       0     0     0>
            , <&key_physical_attrs 100 100 1613  450       0     0     0>
            , <&key_physical_attrs 100 100 1713  462       0     0     0>
            ;
    };
};
